@charset "UTF-8";
body {
	background-color: #D1CFD0;
	background: url('../img/photo-1510289244640-fbd33875a761.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
  	color: white;
}